.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  background-color: whitesmoke;
}

.nav-login {
  font-size: 15px;
  color: #2d302a;
}

.breaking-bad-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.breaking-bad-title h1 {
  padding: 30px;
  color: #4c752b;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}

.main-segment {
  display: grid;
  justify-content: center;
  align-items: center;
}

.input-field {
  display: flex;
}

.input-field input {
  border-radius: 10px;
}

.input-field button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #97a66c;
  color: white;
}

.input-field button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.grid-container-card {
  display: flex;
  justify-content: center;
}

.main-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  padding: 40px 20px;
}

.card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.cards {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.card-image {
  display: flex;
  justify-content: center;
}

.card-image img {
  /* display: flex;
  justify-content: center; */
  border-radius: 120%;
  box-shadow: 0 5px 10px #838587;
  width: 100px;
  height: 100px;
}

.card-header {
  display: flex;
  justify-content: center;

  padding-top: 10px;
}

.card-content {
  display: flex;
  justify-content: center;
}

.card-info-grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  grid-gap: 0 20px;
}

.description {
  padding: 10px;
}

.description h5 {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description p {
  font-style: italic;
}

.desc {
  display: grid;
  justify-items: center;
  padding-top: 10px;
}

.occupation {
  padding: 10px;
  text-align: center;
  font-style: italic;
}

.section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: space-between;
  padding: 60px;
  grid-gap: 150px;
}

.footer-title {
  display: flex;
  grid-gap: 5px;
  font-size: 20px;
}
